@charset "UTF-8";

/* jsp 基本 setting 180320 jhkim*/
:root {
	font-size: 14px;
}

.login {
	text-align: justify;
	border: solid 1px red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 10px 10px 10px;
	<!-- 半分だけ決して真ん中にします(transform)-->
}

.somebutton {
	text-align: right;
}

.CreateUser  {
	text-align: justify;
	border: solid 1px red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 10px 10px 10px;
}

.AddBook {
	text-align: justify;
	border: solid 1px red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 10px 10px 10px;
	<!-- 半分だけ決して真ん中にします(transform)-->
}

header {
	width: 100%;
}

header .ManagementButtons {
	display: flex;
	float: left;
}

header .Search {
	display: flex;
	float: right;
}