/* Before css
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
} */

/* Loading div */
#loading {
  width: 100%;
  height: 100%;
  top: 3%;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.9;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}
/* Loading div End */

/* index.html */
h1, h2 {
    text-align: center;
}

.list, .DClist {
    text-align: center;
}

/* kr,jp,en.html */
#address {
    width: 60%;
    height: 30px;
    font-size: 18px;
}

#Dobutton {
    width: 100px;
    line-height: 18px;
    background: #0066A2;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    border-radius: 7px;
}

body {
    margin-top: 10%;
    /* background: white url("images/background.png") no-repeat; */
}

.simple {
    display: flex;
    justify-content: center;
}

/* 180628 Image UpLoad */
.upload {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

/* モバイル画面構成
@media (max-width: 767px) {

} */