:root {
  --text-color: #7f7f7f;
  --light-btn-color: #3f6ac1;
}

/* Loading div */
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

.search-btn
{
  cursor: pointer;
}

hr {
  color: var(--light-btn-color);
  border: 1px solid;
  position: absolute;
  left: 0;
  right: 0;
}

b {
  margin-top: 10px;
  padding-left: 15%;
  color: var(--text-color);
  font-size: 1.5em;
}

th, td {
  width: 12%;
  height: 40px;
  border-bottom: 1px solid var(--text-color);
  padding: 10px;
}

button {
  color: white;
  font-size: 1em;
  border: 0px;
  background-color: var(--light-btn-color);
}

select {
  font-size: 20px;
  height: 40px;
  width: 250px;
  text-align-last: center;
}

input {
  color: white;
  font-size: 1em;
  width: 2.8em;
}

/* ヘッダー */
header {
  position: inherit;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.8;
}

header .container-small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.headA ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headA a {
  display: block;
  padding: 15px;
  color: inherit;
  font-size: 15px;
  text-decoration: none;
}

.headA a:hover {
  background-color: rgba(255, 250, 250, 0.4);
}

.headA {
  background: black;
  color: white;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height: 1000px;
  text-align: center;
  display: none;
}

.headB {
  color: white;
  margin-right: 10px;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
  font-size: 28px;
  cursor: pointer;
}

.headB:hover {
  opacity: 0.3;
}

.overlay {
  position: fixed;
  left: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .buttons-container {
    display: flex; /* 横に並ぶ */
    justify-content: space-between; /* 右左整列 */
  	max-width: 1000px;
  	margin-left: auto;
  	margin-right: auto;
  }

  table {
    color: black;
  	max-width: 1000px;
  	margin-left: auto;
  	margin-right: auto;
    text-align: center;
    width: 60%;
    border-collapse: collapse;
  }
}

.select-form {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-left: 5%;
}

.button-form {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-right: 5%;
}

.search-btn {
  background-color: var(--text-color);
  height: 40px;
  width: 100px;
}

.download-btn {
  background-color: var(--light-btn-color);
  right: 0;
  margin-right: 8%;
  height: 40px;
  width: 100px;
}

.modify-btn, .note-btn{
  background-color: var(--light-btn-color);
  height: 40px;
  width: 100px;
}

.small-cell {
  width: 6%;
}

/* 以下、モバイル環境CSS
@media (max-width: 767px) {

} */
