<h1>{{ question.question_text }}</h1> <!-- 중괄호 쌍은 단순 텍스트나 값 넣을때 쓰는듯 -->
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %} <!-- if문 종료를 endif로 선언함 -->

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %} <!-- 사이트 간 요청 위조(CSRF) 방지-->
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
    <br />
    {% endfor %} <!-- for문 종료를 endfor로 선언함 -->
    <input type="submit" value="Vote" />
</form>


<p>위 템플릿은 각 질문 선택 항목에 대한 라디오버튼을 표시함. value는 연관된 질문 선택 항목의 ID, name은 "choice" 즉, 누군가 라디오버튼중 하나를 선택하여 폼을 제출하면, POST데이터인 choice=#을 보낸다는것(여기서 #은 선택한 항목의 ID)</p>
<p>action을 {% url 'polls:vote' question.id %}로 설정하고 method="post로 설정함. 이 폼을 전송하는 행위는 서버측 자료를 변경할 것이므로, method="post"(method="get"과는 반대로)를 사용하는게 매우 중요함(웹 개발시 권장사항)</p>
<p>forloop.counter는 for태그가 반복한 횟수를 나타냄</p>
<p>우리는 POST폼(자료를 수정하는 효과를 가진것)을 만들고 있으므로, 사이트 간 요청 위초(Cross Site Request Forgeries)에 대해 고민 해야하지만, 고맙게도 Django는 사이트 간 요청 위조(CSRF)에 대항하기 위한 사용하기 쉬운 시스템을 가지고 있음</p>
<p>간단하게, 내부 URL들을 향하는 모든POST폼에 탬플릿 태그 {% csrf_token %}을 사용하면됨</p>
{# template시스템은 변수의 속성에 접근하기위해 점-탐색(dot-lookup)문법을 사용합니다. #}